@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary-color: black;
    --title-text: 32px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Instrument Sans";
}

.mainSection{
    display: flex;
    flex-direction: row;
    padding: 0 60px;
}

.leftSection .heroImg{
    width: 500px;
    margin-bottom: 30px;
}

.leftSection .tagline span {
    font-weight: bold;
}